[submodule "urn-dev"]
	path = urn-dev
	url = git@bitbucket.org:nbl7/urn-dev.git
[submodule "urn-lib"]
	path = urn-lib
	url = git@bitbucket.org:nbl7/urn-lib.git
[submodule "urn-dot"]
	path = urn-dot
	url = ssh://git@bitbucket.org/nbl7/urn-dot.git
[submodule "urn-cli"]
	path = urn-cli
	url = ssh://git@bitbucket.org/nbl7/urn-cli.git
