[submodule "urn-adm"]
	path = urn-adm
	url = git+ssh://git@github.com/x71c9/uranio-adm.git
	branch = master
	update = rebase
[submodule "urn-api"]
	path = urn-api
	url = git+ssh://git@github.com/x71c9/uranio-api.git
	branch = master
	update = rebase
[submodule "urn-ass"]
	path = urn-ass
	url = git+ssh://git@github.com/x71c9/uranio-assets.git
	branch = master
	update = rebase
[submodule "urn-bld"]
	path = urn-bld
	url = git+ssh://git@github.com/x71c9/uranio-bld.git
	branch = master
	update = rebase
[submodule "urn-cli"]
	path = urn-cli
	url = git+ssh://git@github.com/x71c9/uranio-cli.git
	branch = master
	update = rebase
[submodule "urn-core"]
	path = urn-core
	url = git+ssh://git@github.com/x71c9/uranio-core.git
	branch = master
	update = rebase
[submodule "urn-dep/urn-adm-dep-dev"]
	path = urn-dep/urn-adm-dep-dev
	url = git+ssh://git@github.com/x71c9/uranio-adm-dep-dev.git
	branch = master
	update = rebase
[submodule "urn-dev"]
	path = urn-dev
	url = git+ssh://git@github.com/x71c9/uranio-dev.git
	branch = master
	update = rebase
[submodule "urn-lib"]
	path = urn-lib
	url = git+ssh://git@github.com/x71c9/uranio-lib.git
	branch = master
	update = rebase
